<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jlsysql.dao.BlogDao">
    <resultMap id="blogMap" type="blog">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="time" column="time"/>
        <result property="kind" column="kind"/>
        <result property="visit" column="visit"/>
        <result property="content" column="content"/>
        <association property="author" column="author" select="cn.jlsysql.dao.UserDao.getUserById"/>
        <collection property="comments" column="id" select="cn.jlsysql.dao.CommentDao.getCommentByBlog"/>
    </resultMap>

    <select id="getAllBlogs" resultMap="blogMap">
        SELECT * FROM blog ORDER BY visit DESC ;
    </select>

    <select id="getBlogById" resultMap="blogMap">
        SELECT * FROM blog WHERE id=#{id}
    </select>

    <select id="getBlogByAuthor" parameterType="int" resultMap="blogMap">
        SELECT * FROM blog WHERE author=#{author}  LIMIT 5
    </select>

    <select id="getBlogByKind" parameterType="int" resultMap="blogMap">
        SELECT * FROM blog WHERE kind=#{kind}
    </select>

    <insert id="addBlog" parameterType="addBlog">
        INSERT  INTO blog(title,time,kind,visit,content,author) VALUES (#{title},now(),#{kind},0,#{content},#{author})
    </insert>

    <update id="addVisit" parameterType="int">
        update blog set visit=(select visit+1 from blog where id=#{id}) where id=#{id};
    </update>
</mapper>