<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jlsysql.dao.CommentDao">
    <resultMap id="commentMap" type="comment">
        <id column="id" property="id"/>
        <result property="time" column="time"/>
        <result property="se_commend" column="se_commend"/>
        <result property="content" column="content"/>
        <result property="comment_id" column="comment_id"/>
        <result property="blog_id" column="blog_id"/>
        <association property="author" column="author" select="cn.jlsysql.dao.UserDao.getUserById"/>
    </resultMap>
    <select id="getCommentByBlog" parameterType="string" resultMap="commentMap">
        select * from comment where blog_id=#{blog} ORDER BY time DESC
    </select>
    <insert id="addComment" parameterType="addComment">
        INSERT  INTO  comment (time ,author,content,blog_id) VALUES (now() ,#{author},#{content},#{blog_id})
    </insert>
</mapper>